[project]
	description = Odoo addon for Weladee
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Eric Fairon (efairon)
[access "refs/for/refs/*"]
	read = group user/Eric Fairon (efairon)
	push = group user/Eric Fairon (efairon)
	label-Code-Review = -2..+2 group user/Eric Fairon (efairon)
	label-Verified = -1..+1 group user/Eric Fairon (efairon)
	rebase = group user/Eric Fairon (efairon)
	removeReviewer = group user/Eric Fairon (efairon)
	submit = group user/Eric Fairon (efairon)
[access "refs/heads/*"]
	read = group user/Eric Fairon (efairon)
	create = group user/Eric Fairon (efairon)
	push = +force group user/Eric Fairon (efairon)
	pushMerge = group user/Eric Fairon (efairon)
[access "refs/tags/*"]
	push = group user/Eric Fairon (efairon)
	push = +force group user/Eric Fairon (efairon)
